.makeStyles-root-1 {
  align-items: center;
}

.navBarLinkLogo {
  text-decoration: none;
}

.navBarLinkLogo h1:hover {
  color: white;
}

.navTopBarContainer {
  background-color: #1E2434;
  padding: 0 20px;
}

.headerText {
  color: #eeeeee;
}