.navTopBarContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: grey;
  flex-wrap: wrap;
  /* position: fixed; */
}

.navTopBarContainer .logo {
  margin-left: 20px;
}

.navTopBarContainer .profilePic {
  margin-right: 20px;
}

.navBarLinks {
  color: #000 !important;
}

.navBarLinks:hover {
  text-decoration: none !important;
  color: #000 !important;
}

.navBarLinkLogo {
  color: #000 !important;
}

.navBarLinkLogo:hover {
  text-decoration: none !important;
  color: #000 !important;
}

.menuIcon {
  margin-right: 10px;
}

@media (max-width: 768px) {
  .navbarContainer {
    display: flex !important;
    flex-wrap: wrap;
  }
}
